<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />
    <link
      rel="icon"
      type="images/x-icon"
      href="https://courses.uet.vnu.edu.vn/pluginfile.php/1/theme_lambda/favicon/1695283202/captiveportal-logo2_new.png"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Check order</title>
  </head>
  <body>
    <div class="container">
      <div class="orders">
        <div class="info">
          <h2>
            Đơn hàng đang trong quá trình vận chuyển
            <i class="fi fi-rs-shipping-fast"></i>
          </h2>
        </div>
        <div class="shipper">
          <span class="ship">Người giao hàng:</span>
          <span class="name-shipper">Nguyễn Văn A</span>
        </div>
        <% for(let i = 0; i < data.length; i++) {%>
          <div class="info-all">
            <div class="info-person">
              <h3>Thông tin người đặt hàng</h3>
              <div class="name">Họ và tên: <%=data[i].Name%>  </div>
              <div class="phone">Số điện thoại: <%=data[i].phone%></div>
              <div class="address">Địa chỉ: <%=data[i].address%></div>
              <div class="note">Ghi chú: <%=data[i].note%></div>
              <div class="total-money">Tổng tiền thanh toán: <%= data[i].consume%></div>
            </div>
            <% for(let j = 0 ; j < data[i].items.length; j++) { %>
              <div class="info-products">
                <h3>Thông tin đơn hàng</h3>
                <div class="product">
                  <div class="image">
                    <img src= <%= data[i].items[j].link %> alt="" />
                  </div>
                  <div class="wrap">
                    <div class="info-phone"><%= data[i].items[j].name_product %></div>
                    <div class="color"><%= data[i].items[j].color %> </div>
                    <div class="quantity">Số lượng: <%= data[i].items[j].amount %></div>
                  </div>
                </div>
              </div>
              
              
              <%}%>
           
          </div>
          <%}%>
       
      </div>
    </div>
  </body>
</html>
