<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="images/x-icon"
      href="https://courses.uet.vnu.edu.vn/pluginfile.php/1/theme_lambda/favicon/1695283202/captiveportal-logo2_new.png"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Selling</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="box">
          <a href="/">
            <h1 class="title-shop">CTĐ Shop</h1>
          </a>
          <span class="border-top"></span>
          <span class="border-right"></span>
          <span class="border-bottom"></span>
          <span class="border-left"></span>
        </div>
        <ul class="navi">
          <li><a href="/">Home</a></li>
          <li><a href="#!">Contact</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Log in</a></li>
          <div class="bar"></div>
        </ul>
        <div class="cart">
          <div class="input-box">
            <input type="text" placeholder="Search..." />
            <span class="search">
              <i class="uil uil-search search-icon"></i>
            </span>
          </div>
          <div class="icon-cart">
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <div class="quantity-product"><%= cart.length  %></div>
          </div>
        </div>
      </div>
      <hr />
    </header>
    <!-- End .header -->
    <div class="container-payment">
      <div class="payment">
        <div class="header-payment">
          <a href="/cart"><i class="fa-solid fa-arrow-left"></i></a>
          <span>Thông tin</span>
        </div>
        <!-- End .header-payment -->
        <% for(let i = 0; i < cart.length; i++)
                {%>
          
          <div class="list-product">
            <div class="product">
              <div class="image">
                <img
                  src= <%= cart[i].link %>
                  alt=""
                />
              </div>
              <!-- End .image -->
              <div class="info-image">
                <p><%= cart[i].name %></p>
                <div class="cost-quantity">
                  <div class="cost">
                    <div class="cost-real"><%= cart[i].price_left %>đ</div>
                    <div class="cost-discount"><%= cart[i].price_right %>đ</div>
                  </div>
                  <!-- End .cost -->
                  <div class="quantity">Số lượng: <%= cart[i].SmartPhone_Quantity %></div>
                  <!-- End .quantity -->
                </div>
              </div>
              <!-- End .info-image -->
            </div>
            <!-- End .product -->
          </div>
          <!-- End .list-product -->
          <%}%>
        <div class="customer">
          <h3>THÔNG TIN KHÁCH HÀNG</h3>
          <div class="info-customer">
            <div class="name-phone">
              <div class="name">
                <input type="text" class="input-name" placeholder=" " />
                <label for="name" class="label-name">Name</label>
              </div>
              <div class="phone">
                <input type="tel" class="input-tel" placeholder=" " />
                <label for="phone" class="label-phone">Phone</label>
              </div>
            </div>
            <!-- End .name-phone -->
            <div class="email-customer">
              <input type="email" class="input-email" placeholder=" " />
              <label for="email" class="label-email">Email</label>
            </div>
            <!-- End .email-customer -->
            <div class="offer">
              <input type="checkbox" />
              <p>Nhận email thông báo và ưu đãi từ CTĐ Shop</p>
            </div>
          </div>
        </div>
        <!-- End .customer -->
        <div class="receive">
          <h3>THÔNG TIN NHẬN HÀNG</h3>
          <div class="info-receive">
            <div class="province-district">
              <div class="province-customer">
                <input type="text" class="input-province" placeholder=" " />
                <label for="province" class="label-province"
                  >TỈNH/THÀNH PHỐ</label
                >
              </div>
              <!-- End .province -->
              <div class="district-customer">
                <input type="text" class="input-district" placeholder=" " />
                <label for="district" class="label-district">Quận/Huyện</label>
              </div>
            </div>
            <div class="note-customer">
              <input type="text" class="input-note" placeholder=" " />
              <label for="note" class="label-note">Ghi chú</label>
            </div>
          </div>
          <!-- . End .info-receive -->
        </div>
        <!-- End .receive -->
        <div class="table-buy">
          <div class="discount-customer">
            <div class="costume-input">
              <input type="text" class="input-discount" placeholder=" " />
              <label for="discount" class="label-discount">Mã giảm giá</label>
            </div>
            <!-- End .costume-input -->
            <button class="btn-discount">Áp dụng</button>
          </div>
          <!-- End .discount-customer -->
          <div class="info-buy">
            <div class="quantity">
              <span>Số lượng sản phẩm</span>
              <span class="text-quantity">01</span>
            </div>
            <!-- End .quantity -->
            <div class="total-money">
              <span>Tiền hàng</span>
              <span class="money"><%= product[0].sum %>đ</span>
            </div>
            <!-- End .total-money -->
            <div class="fee-transport">
              <span>Phí vận chuyển</span>
              <span>Miễn phí</span>
            </div>
            <!-- End .fee-transport -->
            <div class="final-total">
              <span>Tổng tiền</span>
              <span class="final-money"><%= product[0].sum %>đ</span>
            </div>
          </div>
        </div>
        <!-- End .table-buy -->
        <div class="pay">
          <div class="pay-cost">
            <span>Tổng tiền tạm tính: </span>
            <span><%= product[0].sum %>đ</span>
          </div>
          <a href = "/"><div class="payment">
            <button class="btn-pay">Thanh toán</button>
          </div></a>
        </div>
      </div>
    </div>
    <script src="/js/sellcustomer/sell.js"></script>
  </body>
</html>

